body{
    background-color: #4a4858;
}
.head{
    justify-content: center;
    display: flex;
    font-size: 30px;
}
.head h1{

    text-shadow: 0 0 10px white;
}
.card{
    border: 3px inset white;
    height: 40%;
    width: 20%;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    
    
}
#img{
    height: 300px;
    width: 100%;
}
#container{
    padding-left: 10%;
}
