h1{
    font-size: 60px;
    margin-left: 38%;
    margin-top: -100px;
    color: white;
    position: absolute;
}
.box{
    border: 3px solid #260404;
    margin-left: 8%;
    margin-top: 10%;
    padding-top: 20px;
    height: 60%;
    width: 80%;
    padding-left: 60px;
    background: #331f1f;
}
body{
    background: #331f1f;
}
.hour1{
    margin-left: 530px;
}
.hour1 .s1{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    position: absolute;
    height: 23%;
    width: 20%;
    margin-left: -438px;
    margin-top: 42px; 
    z-index: 1;
}
.hour1 .s2{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 23%;
    width: 20%;
    position: absolute;
    margin-left: -242px;
    margin-top: 40px; 
    z-index: 1;
}
.hour1 .s3{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: rotate(90deg);
    height: 23%;
    width: 20%;
    margin-left: -352px;
    margin-top: -70px !important; 
    position: absolute;
    z-index: 1;
}
.hour1 .s7{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height: 23%;
    width: 20%;
    transform: rotate(270deg);
    margin-top: 262px; 
    margin-left: -330px;
    position: absolute;
    z-index: 1;
}
.hour1 .s5{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 16%;
    margin-left: -405px;
    margin-top: 190px;
    position: absolute; 
    z-index: 1;
}
.hour1 .s6{
    border: 2px solid white;
    clip-path: polygon(53% 13%, 58% 0, 64% 13%, 66% 85%, 60% 97%, 55% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 13%;
    transform: rotate(272deg);
    margin-top: 130px;
    margin-left: -291px; 
    position: absolute;
    z-index: 1;
}
.hour1 .s4{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 20%;
    width: 20%;
    margin-left: -40px;
    margin-top: 190px;
    margin-left: -245px; 
    position: absolute;
    z-index: 1;
}
/*-------------------------------------hour 2------------------------------------ */
.hour2{
    margin-left: 30%;
}
.hour2 .s1{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    position: absolute;
    height: 23%;
    width: 20%;
    margin-left: -438px;
    margin-top: 42px; 
    z-index: 1;
}
.hour2 .s2{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 23%;
    width: 20%;
    position: absolute;
    margin-left: -242px;
    margin-top: 40px; 
    z-index: 1;
}
.hour2 .s3{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: rotate(90deg);
    height: 23%;
    width: 20%;
    margin-left: -352px;
    margin-top: -70px !important; 
    position: absolute;
    z-index: 1;
}
.hour2 .s7{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height: 23%;
    width: 20%;
    transform: rotate(270deg);
    margin-top: 262px; 
    margin-left: -330px;
    position: absolute;
    z-index: 1;
}
.hour2 .s5{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 16%;
    margin-left: -405px;
    margin-top: 190px;
    position: absolute; 
    z-index: 1;
}
.hour2 .s6{
    border: 2px solid white;
    clip-path: polygon(53% 13%, 58% 0, 64% 13%, 66% 85%, 60% 97%, 55% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 13%;
    transform: rotate(272deg);
    margin-top: 130px;
    margin-left: -291px; 
    position: absolute;
    z-index: 1;
}
.hour2 .s4{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 20%;
    width: 20%;
    margin-left: -40px;
    margin-top: 190px;
    margin-left: -245px; 
    position: absolute;
    z-index: 1;
}
#dot{
    height: 30px;
    width: 30px;
    /* display:block; */
    margin-top: 120px;
    margin-left: 500px;
    position: absolute;
}
#dot2{
    height: 30px;
    width: 30px;
    /* display:block; */
    margin-left: 500px;
    margin-top: 230px;
    position: absolute;
}
/*---------------------------- minuts 1---------------------- */

.min1 .s1{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    position: absolute;
    height: 23%;
    width: 20%;
    margin-left: -438px;
    margin-top: 42px; 
    z-index: 1;
}
.min1 .s2{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 23%;
    width: 20%;
    position: absolute;
    margin-left: -242px;
    margin-top: 40px; 
    z-index: 1;
}
.min1 .s3{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: rotate(90deg);
    height: 23%;
    width: 20%;
    margin-left: -352px;
    margin-top: -70px !important; 
    position: absolute;
    z-index: 1;
}
.min1 .s7{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height: 23%;
    width: 20%;
    transform: rotate(270deg);
    margin-top: 262px; 
    margin-left: -330px;
    position: absolute;
    z-index: 1;
}
.min1 .s5{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 16%;
    margin-left: -405px;
    margin-top: 190px;
    position: absolute; 
    z-index: 1;
}
.min1 .s6{
    border: 2px solid white;
    clip-path: polygon(53% 13%, 58% 0, 64% 13%, 66% 85%, 60% 97%, 55% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 13%;
    transform: rotate(272deg);
    margin-top: 130px;
    margin-left: -291px; 
    position: absolute;
    z-index: 1;
}
.min1 .s4{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 20%;
    width: 20%;
    margin-left: -40px;
    margin-top: 190px;
    margin-left: -245px; 
    position: absolute;
    z-index: 1;
}

/*---------------------------- minuts 2---------------------- */

.min2 .s1{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    position: absolute;
    height: 23%;
    width: 20%;
    margin-left: -438px;
    margin-top: 42px; 
    z-index: 1;
}
.min2 .s2{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 23%;
    width: 20%;
    position: absolute;
    margin-left: -242px;
    margin-top: 40px; 
    z-index: 1;
}
.min2 .s3{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: rotate(90deg);
    height: 23%;
    width: 20%;
    margin-left: -352px;
    margin-top: -70px !important; 
    position: absolute;
    z-index: 1;
}
.min2 .s7{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height: 23%;
    width: 20%;
    transform: rotate(270deg);
    margin-top: 262px; 
    margin-left: -330px;
    position: absolute;
    z-index: 1;
}
.min2 .s5{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 16%;
    margin-left: -405px;
    margin-top: 190px;
    position: absolute; 
    z-index: 1;
}
.min2 .s6{
    border: 2px solid white;
    clip-path: polygon(53% 13%, 58% 0, 64% 13%, 66% 85%, 60% 97%, 55% 85%);
    /* clip-path: circle(50%);*/
    height:20%;
    width: 13%;
    transform: rotate(272deg);
    margin-top: 130px;
    margin-left: -291px; 
    position: absolute;
    z-index: 1;
}
.min2 .s4{
    border: 2px solid white;
    clip-path: polygon(58% 0, 64% 8%, 64% 79%, 58% 85%);
    /* clip-path: circle(50%);*/
    transform: scaleX(-1);
    height: 20%;
    width: 20%;
    margin-left: -40px;
    margin-top: 190px;
    margin-left: -245px; 
    position: absolute;
    z-index: 1;
}